/* Header */
header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* CTA */
.cta {
  margin-top: 2rem;
  display: flex;
  gap: 1.2rem; /* отступы между столбцами внутри для тегов */
  justify-content: center;
}

/* Socials */
.header__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__social::after {
  content: "";
  width: 1px;
  height: 2rem;
  background-color: var(--color-primary);
}

/* ME */

.me > img {
  width: 22rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
}

/* Scroll Down */

.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-style: 0.9rem;
}

/* Media quiaries (Medium Devaices) */
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* Media quiaries (Small Devaices) */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header__social,
  .scroll__down {
    display: none;
  }
}
